MONGODB_URI=mongodb+srv://...
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
JWT_SECRET=change-me-to-a-long-random-string
WEB_URL=http://localhost:9000
API_URL=http://localhost:3000
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
PORT=3000
